@page
@model PingaUnitBooking.UI.Pages.Customer.UnitVerificationModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinga- Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>

<body class="hold-transition sidebar-mini">
    <section class="content mt-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    <div class="card card-primary card-tabs" >
                                        <div class="card-header p-0 pt-1" style="background-color: #36454F">
                                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="unit-tab" data-toggle="pill" role="tab" href="#unit-tab-home" aria-controls="unit-tab-home" aria-selected="true">Unit Details</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="pd-tab" role="tab" href="#pd-tab-home" aria-controls="pd-tab-home">Payment Details</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="ad-tab" href="#ad-home" role="tab" aria-controls="ad-home" aria-selected="false">Applicant Details</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="cad-tab" href="#cad-home" role="tab" aria-controls="cad-home" aria-selected="false">Co-Applicant Details</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="du-tab" href="#du-home" role="tab" aria-controls="du-home" aria-selected="false">Document Upload</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="tmc-tab" data-toggle="pill" href="#tmc-home" role="tab" aria-controls="tmc-home" aria-selected="false">TMC</a>
                                                </li>

                                            </ul>


                                        </div>
                                        <div class="card-body">
                                            <div class="tab-content" id="custom-tabs-five-tabContent">
                                                <div class="tab-pane fade show active" id="unit-tab-home" role="tabpanel" aria-labelledby="unit-tab">
                                                    <div class="tab-content" id="custom-tabs-one-tabContent">

                                                        @* ------------BASIC INFORMATION TAB----------------*@
                                                        <div disabled  class="row projectDiv">
                                                            <div  class="col-lg-3">
                                                                <div class="form-group">
                                                                    <span>Project Name *</span><br />
                                                                    <input disabled class="form-control" id="projectID" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <span>Tower Name *</span><br />
                                                                    <input disabled class="form-control" id="towerID"  />
                                                                   
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <span>Floor Name *</span><br />
                                                                    <input disabled class="form-control" id="floorID" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <span>Unit *</span><br />
                                                                    <input disabled class="form-control" id="unitID"  />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row customerDiv">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <span>Customer Mobile No *</span><br />
                                                                    <input disabled type="number" class="form-control" id="custMobileNo" style="width: 100%;" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <span>Customer Email *</span><br />
                                                                    <input disabled type="email" class="form-control" id="custEmail" style="width: 100%;" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row RequiredDocDiv">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <span>Release Unit Date *</span><br />
                                                                    <input disabled type="date" class="form-control" id="releaseUD" style="width: 100%;" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <span>Application Type *</span><br />
                                                                    <select disabled id="appType" class=" form-control">
                                                                        <option value="Induvidual">Induvidual</option>
                                                                        <option value="Firm">Firm</option>
                                                                        <option value="Company">Company</option>
                                                                        <option value="Local Authority">Local Authority</option>
                                                                        <option value="Association of Persons">Association of Persons</option>
                                                                        <option value="Body of Individuals">Body of Individuals</option>
                                                                        <option value="Artificial- Juridical">Artificial- Juridical</option>
                                                                        <option value="Persons/Entiry">Persons/Entiry</option>
                                                                        <option value="NRI">NRI</option>
                                                                        <option value="HUF">HUF</option>
                                                                        <option value="Trust">Trust</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <span hidden id="ubmID"></span>
                                                            <button type="button" onclick="proceedPaymentTab()" class="btn btn-success">Next > </button>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="ad-home" role="tabpanel" aria-labelledby="ad-tab">
                                                    <div class="row">

                                                        <div class="col-lg-10">
                                                            <div class="form-group" style="width:20%">
                                                                <span>Unit No *</span><br />
                                                                <input disabled class="form-control" id="applicantunitno" value="SS-GROUP-0034" />
                                                            </div>
                                                        </div>
                                                        @*         <div class="col-lg-2 d-flex justify-content-end">
                                                        <div class="form-group">
                                                        <span >Unit Date *</span><br />

                                                        <input disabled type="date" id="applicantUnitDate" class="form-control" style="width: 100%" />
                                                        </div>
                                                        </div> *@


                                                        <div class="col-lg-12">
                                                            <div class="form-group" style="display: flex; justify-content: center; text-underline-offset:auto">
                                                                <span style="font-size:18PX; text-decoration:underline">PERSONAL DETAILS </span><br />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <div class="form-group">
                                                                <span style="font-size:13PX;">1. SOLE OR FIRST APPLICANT</span><br />
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <div class="form-group">
                                                                        <span>Buyer Name *</span><br />
                                                                        <input id="applicantBuyerName" class="form-control" id="unit" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <div class="form-group">
                                                                        <span>S/W/D of *</span><br />
                                                                        <input id="applicantswd" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <span>Date of Birth *</span><br />
                                                                        <input id="applicantdob" type="date" class="form-control" style="width: 100%" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <div class="form-group">
                                                                        <span>Age *</span><br />
                                                                        <input id="applicantAge" type="number" class="form-control" maxlength="3" style="width: 100%;" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <span>Nationality *</span><br />
                                                                        <input type="text" class="form-control" id="applicantNationality" style="width: 100%;" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <span>Occupation *</span><br />
                                                                        <input type="text" class="form-control" id="applicantOccupation" style="width: 100%;" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3" style="float:right;">
                                                            <div class="card" style="float:right; height:150px; border-color:black; width:80%; display: flex; justify-content: center; align-items: center;">
                                                                <div style="display: contents; align-items: center;">
                                                                    <div class="row ">
                                                                        <i class="fa fa-upload" style="font-size: 20px; "></i>

                                                                    </div>
                                                                    <div class="row">
                                                                        @*  <div class="text-center">
                                                                        <video id="video" width="60" height="60" autoplay></video>
                                                                        <br />
                                                                        <button id="capture" class="btn btn-primary">Capture Photo</button>
                                                                        <canvas id="canvas" width="60" height="60" style="display:none;"></canvas>
                                                                        </div> *@
                                                                        <span style="font-size:10px;">Please Upload Your Live Photo</span>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <span>PAN *</span><br />
                                                                <input type="text" class="form-control" id="applicantPan" style="width: 100%;" />
                                                            </div>
                                                        </div>


                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <span>Aadhaar No *</span><br />
                                                                <input type="text" class="form-control" id="applicantAdharNo" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <span style="font-size:13PX;">(In case of Resident Citizen only, for others , please attach copy of passport/ PIO Card)</span><br />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <span>Correspondence Address in India *</span><br />
                                                                <textarea type="text" class="form-control" id="applicantCorrAddress" style="width: 100%;"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <span>State *</span><br />
                                                                <select onchange="CityList()" id="applicantState" class="form-control" style="width:100%">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <span>City *</span><br />
                                                                <select id="applicantCity" class="form-control" style="width:100%">
                                                                </select>
                                                            </div>
                                                        </div>
                                                      
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <span>Country*</span><br />

                                                                <input type="text" class="form-control" id="applicantCountry" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <span>PIN*</span><br />
                                                                <input type="text" class="form-control" id="applicantPIN" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <span>Email*</span><br />
                                                                <input type="text" class="form-control" id="applicantEmail" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <span>Tel. No. (with STD/ISD Code)*</span><br />
                                                                <input type="text" class="form-control" id="applicantTel" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <span>Mobile No. *</span><br />
                                                                <input type="text" class="form-control" id="applicantMob" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <span>Name of the Organisation *</span><br />
                                                                <input type="text" class="form-control" id="applicantOrg" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <span>Designation *</span><br />
                                                                <input type="text" class="form-control" id="applicantDesignation" style="width: 100%;" />
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <span id="applicantID" hidden></span>
                                                        <button type="button" onclick="previousApplicantTab()" class="btn btn-primary">< Previous </button>
                                                        <button type="button" onclick="addApplicantDetails()" id="proceedButton" class="btn btn-success">Next ></button>
                                                    </div>

                                                </div>
                                                <div class="tab-pane fade" id="pd-tab-home" role="tabpanel" aria-labelledby="pd-tab">
                                                    <div class="tab-content" id="custom-tabs-one-tabContent">

                                                        @* ------------BASIC INFORMATION TAB----------------*@
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-group" style="display: flex; justify-content: center; text-underline-offset:auto">
                                                                    <span style="font-size:18PX; text-decoration:underline">PAYMENT DETAILS</span><br />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <section class="content mt-2">
                                                                    <div class="container-fluid">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="card">
                                                                                    <div class="card-body">
                                                                                        <table id="" class="table table-bordered table-hover" style="width:100%">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center;">Payment Mode</th>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center; ">DATE OF CHEQUE / <br /> DD/PO/E-PAYMENT</th>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center; ">BANK NAME & <br /> BRANCH</th>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center; ">AMOUNT (IN INR)</th>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center; "></th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <tr>

                                                                                                    <td>
                                                                                                        <select id="payMode" class="form-control">
                                                                                                            <option value="Cheque">Cheque</option>
                                                                                                            <option value="NEFT">NEFT</option>
                                                                                                            <option value="Demand Note">Demand Note</option>
                                                                                                        </select>
                                                                                                    </td>
                                                                                                    <td><input id="chequeNo" class="form-control" type="text"></td>
                                                                                                    <td><input id="branchName" class="form-control" type="text"></td>
                                                                                                    <td><input id="Chqamount" class="form-control" type="number"></td>
                                                                                                    <td><button onclick="addPayment()" type="button" class="btn btn-success"><i class="fa fa-plus-circle"></i></button></td>
                                                                                                </tr>

                                                                                                <!-- Add more rows here if needed -->
                                                                                            </tbody>
                                                                                        </table>
                                                                                        <table id="ubmPaymentTable" class="table table-bordered table-hover" style="width:100%">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th> </th>
                                                                                                    <th> </th>
                                                                                                    <th> </th>
                                                                                                    <th> </th>
                                                                                                    <th> </th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>


                                                        </div>
                                                        <div class="modal-footer">
                                                            <button onclick="previousPaymentTab()" href="#unit-tab-home"  type="button"  class="btn btn-primary">< Previous </button>
                                                            <button onclick="paymentSave()" type="button" id="proceedButton" class="btn btn-success">Next ></button>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="cad-home" role="tabpanel" aria-labelledby="cad-tab">
                                                    <div class="tab-content" id="custom-tabs-one-tabContent">

                                                        @* ------------BASIC INFORMATION TAB----------------*@
                                                        <div class="row">


                                                            <div class="col-lg-12">
                                                                <section class="content mt-2">
                                                                    <div class="container-fluid">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="card">
                                                                                    <div class="card-body">
                                                                                        <table id="coApplicantTable" class="table table-bordered table-hover mt-4" style="width:100%">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center;">Sr.</th>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center; ">Co-Applicant Name</th>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center; ">Co-Applicant Address</th>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center; ">Actions</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                        </table>
                                                                                        <div class="row">


                                                                                            <div class="col-lg-12">
                                                                                                <div class="form-group" style="display: flex; justify-content: center; text-underline-offset:auto">
                                                                                                    <span style="font-size:18PX; text-decoration:underline">CO-Applicant DETAILS </span><br />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-12">
                                                                                                <div class="form-group">
                                                                                                    <span style="font-size:13PX;">1. SOLE OR FIRST APPLICANT</span><br />
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <div class="col-lg-4">
                                                                                                        <div class="form-group">
                                                                                                            <span>Co-Applicant Name *</span><br />
                                                                                                            <input class="form-control" id="coApplicantName" />
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-lg-4">
                                                                                                        <div class="form-group">
                                                                                                            <span>S/W/D of *</span><br />
                                                                                                            <input class="form-control" id="coApplicantSwd" />
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-lg-3">
                                                                                                        <div class="form-group">
                                                                                                            <span>Date of Birth *</span><br />
                                                                                                            <input type="date" class="form-control" id="coApplicantDOB" style="width: 100%;" />
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-lg-2">
                                                                                                        <div class="form-group">
                                                                                                            <span>Age *</span><br />
                                                                                                            <input type="number" class="form-control" id="coApplicantAge" maxlength="3" style="width: 100%;" />
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-lg-3">
                                                                                                        <div class="form-group">
                                                                                                            <span>Nationality *</span><br />
                                                                                                            <input type="text" class="form-control" id="coApplicantNationality" style="width: 100%;" />
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-lg-6">
                                                                                                        <div class="form-group">
                                                                                                            <span>Occupation *</span><br />
                                                                                                            <input type="text" class="form-control" id="coApplicantOccupation" style="width: 100%;" />
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="col-lg-6">
                                                                                                <div class="form-group">
                                                                                                    <span>PAN *</span><br />
                                                                                                    <input type="text" class="form-control" id="coApplicantPAN" style="width: 100%;" />
                                                                                                </div>
                                                                                            </div>


                                                                                            <div class="col-lg-6">
                                                                                                <div class="form-group">
                                                                                                    <span>Aadhaar No *</span><br />
                                                                                                    <input type="text" class="form-control" id="coApplicantAdharNo" style="width: 100%;" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-12">
                                                                                                <div class="form-group">
                                                                                                    <span style="font-size:13PX;">(In case of Resident Citizen only, for others , please attach copy of passport/ PIO Card)</span><br />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-12">
                                                                                                <div class="form-group">
                                                                                                    <span>Correspondence Address in India *</span><br />
                                                                                                    <textarea type="text" class="form-control" id="coApplicantAddress" style="width: 100%;"></textarea>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-4">
                                                                                                <div class="form-group">
                                                                                                    <span>City *</span><br />
                                                                                                    <input type="text" class="form-control" id="coApplicantCityID" style="width: 100%;" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-4">
                                                                                                <div class="form-group">
                                                                                                    <span>State *</span><br />
                                                                                                    <input type="text" class="form-control" id="coApplicantStateID" style="width: 100%;" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-4">
                                                                                                <div class="form-group">
                                                                                                    <span>Country*</span><br />
                                                                                                    <input type="text" class="form-control" id="coApplicantCountry" style="width: 100%;" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-3">
                                                                                                <div class="form-group">
                                                                                                    <span>PIN*</span><br />
                                                                                                    <input type="text" class="form-control" id="coApplicantPIN" style="width: 100%;" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-3">
                                                                                                <div class="form-group">
                                                                                                    <span>Email*</span><br />
                                                                                                    <input type="text" class="form-control" id="coApplicantEmail" style="width: 100%;" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-3">
                                                                                                <div class="form-group">
                                                                                                    <span>Tel. No. (with STD/ISD Code)*</span><br />
                                                                                                    <input type="text" class="form-control" id="coApplicantTel" style="width: 100%;" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-3">
                                                                                                <div class="form-group">
                                                                                                    <span>Mobile No. *</span><br />
                                                                                                    <input type="text" class="form-control" id="coApplicantMobile" style="width: 100%;" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="button" onclick="CoApplicantDetails()" class="btn btn-success">Save </button>
                                                                                        </div>

                                                                                    </div>

                                                                                    <div class="modal-footer">
                                                                                        <button type="button" onclick="previousCoApplicantTab()" class="btn btn-primary">< Previous </button>
                                                                                        <button onclick="ProceedApplicantDoc()" type="button" id="proceedButton" class="btn btn-success">Next > </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="du-home" role="tabpanel" aria-labelledby="du-tab">
                                                    <div class="tab-content" id="custom-tabs-one-tabContent">

                                                        @* ------------BASIC INFORMATION TAB----------------*@
                                                        <div class="row">


                                                            <div class="col-lg-12">
                                                                <section class="content mt-2">
                                                                    <div class="container-fluid">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="card">
                                                                                    <div class="card-body">
                                                                                        <table id="ApplicantDocTable" class="table table-bordered table-hover" style="width:100%">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center;">Sr.</th>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center; ">Document Type</th>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center; ">File Url</th>
                                                                                                    <th style="font-family: 'sans-serif'; font-weight: normal; align-content: center; text-align: center; ">Actions</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                        </table>
                                                                                    </div>

                                                                                    <div class="modal-footer">
                                                                                        <button type="button" onclick="previousDocumentTab()" class="btn btn-primary">< Previous </button>
                                                                                        <button onclick="ProceeddocumentUpload()" type="button" id="proceedButton" class="btn btn-success">Next > </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>


                                                <div class="tab-pane fade" id="tmc-home" role="tabpanel" aria-labelledby="tmc-tab">
                                                    <div class="tab-content" id="custom-tabs-one-tabContent">

                                                        @* ------------BASIC INFORMATION TAB----------------*@
                                                        <div class="row">


                                                            <div class="col-lg-12">
                                                                <section class="content mt-2">
                                                                    <div class="container-fluid">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <b>Terms & Condition</b>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <p>

                                                                                    1. I/We understand that in addition to the Sale Consideration as set out in Annexure-A, I/we shall also be liable to pay all
                                                                                    third party charges including the applicable registration amount and stamp duty demanded by the Company as well as
                                                                                    any revision/enhancement in the EDC, IDC or any other Developmental Charges, GST, or any other third party/statutory
                                                                                    taxes, fees, cess, charges, etc., or interest thereon, as may be applicable.<br />
                                                                                    2. I/We declare that I/we am/are competent to make and submit the present Application for booking of the aforesaid unit
                                                                                    and there is no legal, regulatory or statutory impediment or restriction on my/our making this Application or the payment
                                                                                    tendered hereunder.<br />
                                                                                    3. I/We acknowledge and declare that the Company has readily provided me/us with all the information/clarifications as
                                                                                    required by me/us and I/we have not relied upon and nor been influenced by any architects’ plans, sales plans, sale
                                                                                    brochures, advertisements, representations, promises or any other information except what is stated specifically in this
                                                                                    Application and I/we have relied solely on my/our own estimation in deciding to make the present Application for the
                                                                                    prospective purchase of the aforesaid unit.<br />
                                                                                    4. I/We understand that broad terms and conditions conveyed herein in a condensed form are merely indicative and for the
                                                                                    purpose of broadly acquainting me/us with some of the essential terms and conditions for the proposed transfer of the
                                                                                    Self Attested
                                                                                    Photograph of
                                                                                    Third
                                                                                    Applicant
                                                                                    (3)
                                                                                    Unit. I/we further understand and agree that the actual terms and conditions contained in the Agreement for Sale would
                                                                                    be more comprehensive and elaborate. I/We further agree that the Company may at its sole discretion elaborate, add to,
                                                                                    amend, modify, or delete from these terms and conditions in the Agreement for Sale.<br />
                                                                                    5. I/We declare that I/we have fully satisfied myself/ourselves about the right, title and interest of the Company and its
                                                                                    Associate/Group Companies with respect to the land on which the proposed project ‘SS LINDEN’ is to be developed as
                                                                                    well as the approvals/consents/sanctions/license granted by the Director Town and Country Planning (DTCP) and/or
                                                                                    any other government authority as required and the competency of the Company and its Associate/Group Companies to
                                                                                    develop and sell the aforesaid Unit. I/We have understood all the limitations and obligations of the Company with respect
                                                                                    to the same.<br />
                                                                                    6. I/We understand that the Booking Amount is non-refundable and in the event I/we withdraw our Application or if I/we do
                                                                                    not accept the allotment made by the Company on my/our Application or I/we do not execute the Agreement for Sale
                                                                                    within the time stipulated by the Company for this purpose, then my/our entire Booking Amount shall be forfeited to the
                                                                                    Company and I/We shall be le with no right, interest, claim or lien on the said proposed Unit or its booking or otherwise
                                                                                    on the Company in any other manner whatsoever.<br />
                                                                                    7. I/We confirm that all correspondence to me/us should be made in the name of the First Applicant at the address given
                                                                                    above and any notices /letters sent by the Company to the above address shall be valid intimation to all of us regarding the
                                                                                    contents therein.<br />
                                                                                    8. In case my/our Application for booking of the said unit is accepted and the Company makes an allotment, then I/we
                                                                                    undertake to execute all documents /agreements as per the Company’s format and agree to accept and abide by all the
                                                                                    terms and conditions therein and pay all charges as applicable therein and/or as demanded by the Company in due
                                                                                    course.<br />
                                                                                    9. I/We understand and agree that in the event I/we fail to execute the Agreement for Sale and return all the copies duly
                                                                                    executed to the Company within 30 days from the date of the communication by the Company in this regard, then this
                                                                                    Application is liable to be treated as cancelled/terminated at the sole discretion of the Company and the Earnest Money
                                                                                    shall stand forfeited and I/we shall be le with no rights or interest or claims in the said Application/Unit. No
                                                                                    compensation or interest or any charges shall be paid by the Company to me/us.

                                                                                </p>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" onclick="previousTMCTab()" class="btn btn-primary">< Previous </button>
                                                                                    <button data-toggle="modal" data-target="#viewAuthorizationModel" type="button" id="proceedButton" class="btn btn-success">Next > </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  


   

      @* ------------VIEW AUTHORIZATION CLIENT MODEL----------------*@
    <div class="modal fade" id="viewAuthorizationModel" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #36454F">
                    <h5 id="planLabel" style="color:white;color:white"> Send For Authorization</h5>&nbsp;&nbsp;&nbsp;
                    <button style="color:white" type="button" class="close" data-dismiss="modal" tabindex="-1" aria-label="Close">
                        X<i class="fa fa-close"></i>
                    </button>
                </div>
                <div class="col-12 col-sm-12">
                    <div class="card card-primary card-tabs">
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <span>Remarks</span><br />
                                            <input id="remarks" class="form-control" placeholder="Enter Remarks" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <button type="button" onclick="ChangeUbmAuthorization()" class="btn btn-success">Send</button>
                                </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

       <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- SweetAlert2 -->
    <!-- Core Script for SweetAlert plugin JavaScript-->

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/Comman.js"></script>


    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <!-- Bootstrap Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>


    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- SweetAlert2 -->
    <!-- Core Script for SweetAlert plugin JavaScript-->

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/Comman.js"></script>
    <script src="~/js/customerunitverification.js"></script>

    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>


    <link href="~/css/loader.css" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  
   


</body>
</html>